$color-black: #000000;
// $color-black-approx: #040404;
// $color-mine-shaft-approx: #353535;
// $color-mariner-approx: #2e74d9;
// $color-silver-chalice: #a9a9a9;
// $color-silver-light: #f2f2f2;
// $color-tundor-aapprox: #4a4a4a;
// $color-alice-blue: #ECF5FA;
$color-white: #ffffff;
$color-default: #2d1d41;
$color-secondary: #ff4500;


//main font family variables
$primary-font: "Poppins", sans-serif;

//font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bolder: 700;

